body {
  
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #34d0db;
  border-radius: 5px;
  background-color: #34d0db;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #3498db;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.4);
}