
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #3a475099;
  font-size: .85rem;
}

tr:hover {
  background-color: #f2f2f20f;
}

.centered {
  text-align: center;
}

.critical {
  font-size: 3em;
  font-weight: bolder;
  color: #be3144;
}

.critical-small {
  font-size: 1.5em;
  font-weight: bolder;
  color: #be3144;
}

.circle {
  width: 100px; 
  height: 100px;
  border-radius: 50%; 
  background-color: #3a4750bd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 125px;
}
.circle span {
  text-align: center;
  font-size: 2em;
  color: #be3144;
}

.panelContainer {
  width: 300px;
  height: 300px;
}